/* Main Layout */
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.cabecera {
    padding: 0 var(--lumo-space-m);
}

.cabecera h1.titulo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

/* Consulta de Reservas y Disponibilidad de Aulas*/
.consulta-aulas-toolbar{
	margin-top: 15px;
}