/* General*/
.margin-20 {
	margin: 20px;
}

.toolbar {
	margin-top: 15px;
}

.titulo-pagina{
	color: #1676f3;
	font-size: 25px; 
	font-weight: bold;
}

/* Main Layout */
a[highlight] {
	font-weight: bold;
	text-decoration: underline;
}

.cabecera {
	padding: 0 var(- -lumo-space-m);
}

.cabecera h1.titulo {
	font-size: 1em;
	margin: var(- -lumo-space-m);
}

/* Mantenimiento de Aulas */
.mant-aulas-filtro-responsable {
	width: 450px;
}

.mant-aulas-btn-anadir {
	margin-top: 37px;
}